In [35]:
import pandas as pd

In [36]:
df = pd.read_csv("/workspace/DeepLearningFundamentals/preprocess1.csv")
df.head()

,Unnamed: 0,vol_requests,event_time,hits,is_priority,category_id,amsl,amsl_unit,org_title,org_content_id,...,hours,created_date,last_modified_date,status,Latitude,Longitude,Census Tract,BIN,BBL,NTA
0,0,50,0,737,NaN,NaN,NaN,NaN,Center For NYC Neighborhoods,4426,...,0,January 13 2011,June 23 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,0,22,NaN,1.0,NaN,NaN,Bpeace,37026,...,0,January 14 2011,January 25 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
2,2,20,0,62,NaN,1.0,NaN,NaN,Street Project,3001,...,0,January 19 2011,January 21 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
3,3,500,0,14,NaN,1.0,NaN,NaN,Oxfam America,2170,...,0,January 21 2011,January 25 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15,0,31,NaN,4.0,NaN,NaN,Office of Recycling Outreach and Education,36773,...,0,January 28 2011,February 01 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
from sklearn.impute import SimpleImputer
dfOrn = df.copy()
imputer = SimpleImputer(strategy="most_frequent")
imputer.fit_transform(dfOrn.loc[:,("Ulke","Cinsiyet")])
dfOrnTemiz = pd.DataFrame(data=imputer.fit_transform(dfOrn.loc[:,("Ulke","Cinsiyet")]))
dfOrn["Ulke"] = dfOrnTemiz[0]
dfOrn["Cinsiyet"] = dfOrnTemiz[1]

KeyError: "None of [Index(['Ulke', 'Cinsiyet'], dtype='object')] are in the [columns]"

In [ ]:
df2 = df.copy()
df3 = df2.dropna(axis=1)
df3.info()
df3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665 entries, 0 to 664
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          665 non-null    int64
 1   vol_requests        665 non-null    int64
 2   event_time          665 non-null    int64
 3   hits                665 non-null    int64
 4   org_title           665 non-null    object
 5   org_content_id      665 non-null    int64
 6   addresses_count     665 non-null    int64
 7   region              665 non-null    object
 8   display_url         665 non-null    object
 9   recurrence_type     665 non-null    object
 10  hours               665 non-null    int64
 11  created_date        665 non-null    object
 12  last_modified_date  665 non-null    object
 13  status              665 non-null    object
dtypes: int64(7), object(7)
memory usage: 72.9+ KB

,Unnamed: 0,vol_requests,event_time,hits,org_title,org_content_id,addresses_count,region,display_url,recurrence_type,hours,created_date,last_modified_date,status
0,0,50,0,737,Center For NYC Neighborhoods,4426,1,NY,/opportunities/4996,onetime,0,January 13 2011,June 23 2011,approved
1,1,2,0,22,Bpeace,37026,1,NY,/opportunities/5008,onetime,0,January 14 2011,January 25 2011,approved
2,2,20,0,62,Street Project,3001,1,NY,/opportunities/5016,onetime,0,January 19 2011,January 21 2011,approved
3,3,500,0,14,Oxfam America,2170,1,NY,/opportunities/5022,ongoing,0,January 21 2011,January 25 2011,approved
4,4,15,0,31,Office of Recycling Outreach and Education,36773,1,NY,/opportunities/5055,onetime,0,January 28 2011,February 01 2011,approved

In [ ]:
df.describe()

,Unnamed: 0,vol_requests,event_time,hits,org_content_id,addresses_count,hours
count,665.000000,665.000000,665.0,665.000000,665.000000,665.000000,665.000000
mean,332.000000,78.778947,0.0,345.409023,20752.207519,1.046617,0.027068
std,192.113248,569.763773,0.0,530.716526,19143.034346,0.537109,0.519952
min,0.000000,1.000000,0.0,0.000000,24.000000,1.000000,0.000000
25%,166.000000,3.000000,0.0,102.000000,2138.000000,1.000000,0.000000
50%,332.000000,12.000000,0.0,204.000000,4442.000000,1.000000,0.000000
75%,498.000000,30.000000,0.0,374.000000,39189.000000,1.000000,0.000000
max,664.000000,9999.000000,0.0,4662.000000,52858.000000,12.000000,12.000000

In [ ]:
df.drop("display_url",axis=1)

,Unnamed: 0,vol_requests,event_time,hits,org_title,org_content_id,addresses_count,region,recurrence_type,hours,created_date,last_modified_date,status
0,0,50,0,737,Center For NYC Neighborhoods,4426,1,NY,onetime,0,January 13 2011,June 23 2011,approved
1,1,2,0,22,Bpeace,37026,1,NY,onetime,0,January 14 2011,January 25 2011,approved
2,2,20,0,62,Street Project,3001,1,NY,onetime,0,January 19 2011,January 21 2011,approved
3,3,500,0,14,Oxfam America,2170,1,NY,ongoing,0,January 21 2011,January 25 2011,approved
4,4,15,0,31,Office of Recycling Outreach and Education,36773,1,NY,onetime,0,January 28 2011,February 01 2011,approved
...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,660,3,0,197,New York Legal Assistance Group,104,1,NY,ongoing,0,August 16 2011,August 17 2011,approved
661,661,10,0,113,Iridescent,38544,1,NY,onetime,0,March 21 2011,March 21 2011,approved
662,662,1,0,145,"Services for the UnderServed, Inc.",38951,1,NY,ongoing,0,July 20 2011,August 23 2011,approved
663,663,2,0,330,World Cares Center,36979,1,NY,ongoing,0,June 01 2011,August 09 2011,approved
664,664,5,0,304,Mayor's Office of Adult Education,43738,1,NY,ongoing,0,July 07 2011,July 07 2011,approved

In [39]:
df.dropna(axis=1, inplace=True)

In [40]:
df = df.drop(['display_url'],axis=1)

In [41]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
pd.DataFrame(data=enc.fit_transform(df[["region"]]).toarray()).head(7)

     0
0  1.0
1  1.0
2  1.0
3  1.0
4  1.0
5  1.0
6  1.0

In [42]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
pd.DataFrame(data=enc.fit_transform(df3[["recurrence_type"]]).toarray()).head(7)

     0    1
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  0.0  1.0
4  1.0  0.0
5  1.0  0.0
6  0.0  1.0

In [43]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
pd.DataFrame(data=enc.fit_transform(df[["recurrence_type"]]).toarray()).head(7)

     0    1
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  0.0  1.0
4  1.0  0.0
5  1.0  0.0
6  0.0  1.0

In [44]:

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df["recurrence_type"])
df["recurrence_type"] = le.transform(df["recurrence_type"])
le.fit(df["status"])
df["status"] = le.transform(df["status"])
df = df.drop(["org_title"],axis=1)

In [47]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
pd.DataFrame(data=enc.fit_transform(df[["region"]]).toarray()).head(7)
df.head()

,Unnamed: 0,vol_requests,event_time,hits,org_content_id,addresses_count,region,recurrence_type,hours,created_date,last_modified_date,status
0,0,50,0,737,4426,1,NY,0,0,January 13 2011,June 23 2011,0
1,1,2,0,22,37026,1,NY,0,0,January 14 2011,January 25 2011,0
2,2,20,0,62,3001,1,NY,0,0,January 19 2011,January 21 2011,0
3,3,500,0,14,2170,1,NY,1,0,January 21 2011,January 25 2011,0
4,4,15,0,31,36773,1,NY,0,0,January 28 2011,February 01 2011,0