In [2]:
import pandas as pd
import numpy as np

In [3]:
adres = "/workspace/DeepLearningFundamentals/Datasets/diabetes.csv"
# df = pd.read_csv(adres, delimiter=";",header=None)
df = pd.read_csv(adres)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0
...,...,...,...,...,...,...,...,...,...
764,10,101,76,48,180,32.9,0.171,63,0
765,2,122,70,27,0,36.8,0.340,27,0
766,5,121,72,23,112,26.2,0.245,30,0
767,1,126,60,0,0,30.1,0.349,47,1
768,1,93,70,31,0,30.4,0.315,23,0

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0

In [5]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
764,10,101,76,48,180,32.9,0.171,63,0
765,2,122,70,27,0,36.8,0.340,27,0
766,5,121,72,23,112,26.2,0.245,30,0
767,1,126,60,0,0,30.1,0.349,47,1
768,1,93,70,31,0,30.4,0.315,23,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               769 non-null    int64
 1   Glucose                   769 non-null    int64
 2   BloodPressure             769 non-null    int64
 3   SkinThickness             769 non-null    int64
 4   Insulin                   769 non-null    int64
 5   BMI                       769 non-null    float64
 6   DiabetesPedigreeFunction  769 non-null    float64
 7   Age                       769 non-null    int64
 8   Outcome                   769 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.2 KB

In [7]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000
mean,3.847854,120.929779,69.109233,20.555267,79.695709,31.994668,0.472078,33.262679,0.349805
std,3.368280,31.966743,19.343483,15.950358,115.204894,7.879239,0.331160,11.768101,0.477219
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,29.000000,32.000000,0.374000,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,127.000000,36.600000,0.627000,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [8]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [9]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [10]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=769, step=1)

In [12]:
df.shape

(769, 9)

In [13]:
df.values

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

In [15]:
adres1 = "/workspace/DeepLearningFundamentals/Datasets/50_Startups.csv"
# df = pd.read_csv(adres, delimiter=";",header=None)
df1 = pd.read_csv(adres1)

In [17]:
df1.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [19]:
df1.tail()

    R&D Spend  Administration  Marketing Spend       State    Profit
45    1000.23       124153.04          1903.93    New York  64926.08
46    1315.46       115816.21        297114.46     Florida  49490.75
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [23]:
df1.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [25]:
df1.iloc[0:20,4]

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
Name: Profit, dtype: float64

In [31]:
df[(df["Age"]>50)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
9,2,197,70,45,543,30.5,0.158,53,1
10,8,125,96,0,0,0.0,0.232,54,1
13,10,139,80,0,0,27.1,1.441,57,0
14,1,189,60,23,846,30.1,0.398,59,1
15,5,166,72,19,175,25.8,0.587,51,1
...,...,...,...,...,...,...,...,...,...
720,5,97,76,27,0,35.6,0.378,52,1
735,2,105,75,0,0,23.3,0.560,53,0
758,0,123,72,0,0,36.3,0.258,52,1
760,6,190,92,0,0,35.5,0.278,66,1
764,10,101,76,48,180,32.9,0.171,63,0

In [36]:
df["Pregnancies"].isin([6,8]).sum()

89

In [38]:
import numpy as np
df["Insulin"].astype(np.float16)

0        0.0
1        0.0
2        0.0
3        0.0
4       94.0
       ...
764    180.0
765      0.0
766    112.0
767      0.0
768      0.0
Name: Insulin, Length: 769, dtype: float16

In [42]:
df["BMISq"] = df["BMI"].apply(lambda x:x**2)

In [44]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,BMISq
0,6,148,72,35,0,33.6,0.627,50,1,1128.96
1,6,148,72,35,0,33.6,0.627,50,1,1128.96
2,1,85,66,29,0,26.6,0.351,31,0,707.56
3,8,183,64,0,0,23.3,0.672,32,1,542.89
4,1,89,66,23,94,28.1,0.167,21,0,789.61

In [48]:
df.median()

Pregnancies                    3.000
Glucose                      117.000
BloodPressure                 72.000
SkinThickness                 23.000
Insulin                       29.000
BMI                           32.000
DiabetesPedigreeFunction       0.374
Age                           29.000
Outcome                        0.000
BMISq                       1024.000
dtype: float64

In [51]:
df["Age"].var()

138.48820166883397

In [53]:
df["Age"].std()

11.768101022205492

In [55]:
df.sort_values("Age")

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,BMISq
512,0,139,62,17,210,22.1,0.207,21,0,488.41
146,0,102,75,23,0,0.0,0.572,21,0,0.00
137,0,100,70,26,50,30.8,0.597,21,0,948.64
487,1,139,62,41,480,40.7,0.536,21,0,1656.49
501,2,117,90,19,71,25.2,0.313,21,0,635.04
...,...,...,...,...,...,...,...,...,...,...
685,5,136,82,0,0,0.0,0.640,69,0,0.00
124,5,132,80,0,0,26.8,0.186,69,0,718.24
667,4,145,82,18,0,32.5,0.235,70,1,1056.25
454,2,119,0,0,0,19.6,0.832,72,0,384.16
460,9,134,74,33,60,25.9,0.460,81,0,670.81

In [57]:
df["Age"].quantile(0.25)

24.0

In [61]:
df1["Profit"].max()

192261.83

In [64]:
df1["Administration"].min()

51283.14

In [66]:
df1["R&D Spend"].median()

73051.08

In [67]:
df1.quantile(0.1)

TypeError: unsupported operand type(s) for -: 'str' and 'str'