In [2]:
from sklearn.impute import SimpleImputer
import pandas as pd

In [58]:
df = pd.read_csv("/workspace/DeepLearningFundamentals/Dokumanlar/01_Preprocessing/data/sample.csv")
dfOrn = df.copy()
imputer = SimpleImputer(strategy="mean")
imputer.fit_transform(dfOrn.loc[:,("Ulke","Cinsiyet")])
dfOrnTemiz = pd.DataFrame(data=imputer.fit_transform(dfOrn.loc[:,("Ulke","Cinsiyet")]))
dfOrn["Ulke"] = dfOrnTemiz[0]
dfOrn["Cinsiyet"] = dfOrnTemiz[1]

dfOrn

InvalidParameterError: The 'strategy' parameter of SimpleImputer must be a str among {'constant', 'most_frequent', 'median', 'mean'}. Got 'avg' instead.

In [21]:
df

         Ulke Cinsiyet    Gelir   Yas  MemTip
0         NaN    Kadın  20000.0   NaN       1
1         NaN    Erkek  15000.0  32.0       2
2   İngiltere      NaN  23000.0   NaN       3
3     Turkiye    Kadın  20000.0  45.0       1
4      Fransa    Erkek  15000.0  23.0       2
5         NaN      NaN  23000.0  12.0       3
6     Almanya    Kadın  20000.0  45.0       1
7     Turkiye    Erkek  18000.0   NaN       2
8   İngiltere      NaN  23000.0  12.0       3
9     Almanya    Kadın      NaN  45.0       1
10  Avusturya    Kadın  15000.0  46.0       2
11  İngiltere      NaN  23000.0   NaN       3
12    İspanya    Erkek  22000.0  32.0       1
13        NaN    Erkek  22000.0  32.0       1
14    İspanya    Erkek  22000.0  32.0       1
15        NaN    Erkek  22000.0  45.0       1

In [23]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dfIter = dfOrn.copy()
le.fit(dfIter["Ulke"])
dfIter["EnUlke"] = le.transform(dfIter["Ulke"])
le.fit(dfIter["Cinsiyet"])
dfIter["EnCinsiyet"] = le.transform(dfIter["Cinsiyet"])
dfIter

         Ulke Cinsiyet    Gelir   Yas  MemTip  EnUlke  EnCinsiyet
0   İngiltere    Kadın  20000.0   NaN       1       4           1
1   İngiltere    Erkek  15000.0  32.0       2       4           0
2   İngiltere    Erkek  23000.0   NaN       3       4           0
3     Turkiye    Kadın  20000.0  45.0       1       3           1
4      Fransa    Erkek  15000.0  23.0       2       2           0
5   İngiltere    Erkek  23000.0  12.0       3       4           0
6     Almanya    Kadın  20000.0  45.0       1       0           1
7     Turkiye    Erkek  18000.0   NaN       2       3           0
8   İngiltere    Erkek  23000.0  12.0       3       4           0
9     Almanya    Kadın      NaN  45.0       1       0           1
10  Avusturya    Kadın  15000.0  46.0       2       1           1
11  İngiltere    Erkek  23000.0   NaN       3       4           0
12    İspanya    Erkek  22000.0  32.0       1       5           0
13  İngiltere    Erkek  22000.0  32.0       1       4           0
14    İspanya    Erkek  22000.0  32.0       1       5           0
15  İngiltere    Erkek  22000.0  45.0       1       4           0

In [59]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
itr_Imp = IterativeImputer()
itr_Imp.fit_transform(dfIter[["EnUlke","EnCinsiyet","Yas","Gelir"]])
sonuc =pd.DataFrame(data=itr_Imp.fit_transform(dfIter[["EnUlke","EnCinsiyet","Yas","Gelir"]]))
sonuc

      0    1          2             3
0   4.0  1.0  33.365184  20000.000000
1   4.0  0.0  32.000000  15000.000000
2   4.0  0.0  31.049068  23000.000000
3   3.0  1.0  45.000000  20000.000000
4   2.0  0.0  23.000000  15000.000000
5   4.0  0.0  12.000000  23000.000000
6   0.0  1.0  45.000000  20000.000000
7   3.0  0.0  34.909261  18000.000000
8   4.0  0.0  12.000000  23000.000000
9   0.0  1.0  45.000000  20199.814293
10  1.0  1.0  46.000000  15000.000000
11  4.0  0.0  31.049068  23000.000000
12  5.0  0.0  32.000000  22000.000000
13  4.0  0.0  32.000000  22000.000000
14  5.0  0.0  32.000000  22000.000000
15  4.0  0.0  45.000000  22000.000000

In [25]:
dfIter["Yas"] = sonuc[2]
dfIter["Gelir"] = sonuc[3]

In [26]:
dfIter

         Ulke Cinsiyet         Gelir        Yas  MemTip  EnUlke  EnCinsiyet
0   İngiltere    Kadın  20000.000000  33.365184       1       4           1
1   İngiltere    Erkek  15000.000000  32.000000       2       4           0
2   İngiltere    Erkek  23000.000000  31.049068       3       4           0
3     Turkiye    Kadın  20000.000000  45.000000       1       3           1
4      Fransa    Erkek  15000.000000  23.000000       2       2           0
5   İngiltere    Erkek  23000.000000  12.000000       3       4           0
6     Almanya    Kadın  20000.000000  45.000000       1       0           1
7     Turkiye    Erkek  18000.000000  34.909261       2       3           0
8   İngiltere    Erkek  23000.000000  12.000000       3       4           0
9     Almanya    Kadın  20199.814293  45.000000       1       0           1
10  Avusturya    Kadın  15000.000000  46.000000       2       1           1
11  İngiltere    Erkek  23000.000000  31.049068       3       4           0
12    İspanya    Erkek  22000.000000  32.000000       1       5           0
13  İngiltere    Erkek  22000.000000  32.000000       1       4           0
14    İspanya    Erkek  22000.000000  32.000000       1       5           0
15  İngiltere    Erkek  22000.000000  45.000000       1       4           0

In [55]:
df = pd.read_csv("/workspace/DeepLearningFundamentals/Dokumanlar/01_Preprocessing/data/samplev1.csv")
df = df.iloc[:,1:]

In [56]:
df

         Ulke Cinsiyet         Gelir        Yas  MemTip
0   İngiltere    Kadın  20000.000000  33.365184       1
1   İngiltere    Erkek  15000.000000  32.000000       2
2   İngiltere    Erkek  23000.000000  31.049068       3
3     Turkiye    Kadın  20000.000000  45.000000       1
4      Fransa    Erkek  15000.000000  23.000000       2
5   İngiltere    Erkek  23000.000000  12.000000       3
6     Almanya    Kadın  20000.000000  45.000000       1
7     Turkiye    Erkek  18000.000000  34.909261       2
8   İngiltere    Erkek  23000.000000  12.000000       3
9     Almanya    Kadın  20199.814293  45.000000       1
10  Avusturya    Kadın  15000.000000  46.000000       2
11  İngiltere    Erkek  23000.000000  31.049068       3
12    İspanya    Erkek  22000.000000  32.000000       1
13  İngiltere    Erkek  22000.000000  32.000000       1
14    İspanya    Erkek  22000.000000  32.000000       1
15  İngiltere    Erkek  22000.000000  45.000000       1

In [57]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[0,1])],
remainder="passthrough")
encoded = pd.DataFrame(data=ct.fit_transform(df))
encoded.drop([6],axis=1,inplace=True)
encoded.columns = list(range(10))
encoded.head()

     0    1    2    3    4    5    6        7          8    9
0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  20000.0  33.365184  1.0
1  0.0  0.0  0.0  0.0  1.0  0.0  0.0  15000.0  32.000000  2.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  23000.0  31.049068  3.0
3  0.0  0.0  0.0  1.0  0.0  0.0  1.0  20000.0  45.000000  1.0
4  0.0  0.0  1.0  0.0  0.0  0.0  0.0  15000.0  23.000000  2.0