In [1]:
import pandas as pd

In [90]:
df = pd.read_csv("/workspace/DeepLearningFundamentals/preprocessyeni.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [91]:
df.describe()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [92]:
df.head(5)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [93]:
df["Sleep Disorder"].unique()

array([nan, 'Sleep Apnea', 'Insomnia'], dtype=object)

In [94]:
df.head(3)

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN

In [81]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
pd.DataFrame(data=enc.fit_transform(df[["Occupation"]]).toarray()).head(7)

    0    1    2    3    4    5    6    7    8    9    10
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
6  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [95]:

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import LabelEncoder
df_pre = df.copy()
le = LabelEncoder()
le.fit(df_pre["BMI Category"])
df_pre["BMI Category"] = le.transform(df_pre["BMI Category"])
le.fit(df_pre["Gender"])
df_pre["Gender"] = le.transform(df_pre["Gender"])
df_pre = df_pre.drop(["Person ID"],axis=1)
df_pre

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,27,Software Engineer,6.1,6,42,6,3,126/83,77,4200,NaN
1,1,28,Doctor,6.2,6,60,8,0,125/80,75,10000,NaN
2,1,28,Doctor,6.2,6,60,8,0,125/80,75,10000,NaN
3,1,28,Sales Representative,5.9,4,30,8,2,140/90,85,3000,Sleep Apnea
4,1,28,Sales Representative,5.9,4,30,8,2,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...
369,0,59,Nurse,8.1,9,75,3,3,140/95,68,7000,Sleep Apnea
370,0,59,Nurse,8.0,9,75,3,3,140/95,68,7000,Sleep Apnea
371,0,59,Nurse,8.1,9,75,3,3,140/95,68,7000,Sleep Apnea
372,0,59,Nurse,8.1,9,75,3,3,140/95,68,7000,Sleep Apnea
373,0,59,Nurse,8.1,9,75,3,3,140/95,68,7000,Sleep Apnea

In [97]:
le.fit(df_pre["Occupation"])
df_pre["Occupation"] = le.transform(df_pre["Occupation"])
df_pre.head(5)

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,27,9,6.1,6,42,6,3,126/83,77,4200,NaN
1,1,28,1,6.2,6,60,8,0,125/80,75,10000,NaN
2,1,28,1,6.2,6,60,8,0,125/80,75,10000,NaN
3,1,28,6,5.9,4,30,8,2,140/90,85,3000,Sleep Apnea
4,1,28,6,5.9,4,30,8,2,140/90,85,3000,Sleep Apnea

In [98]:
df.isna().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [104]:
df_pre['Blood Pressure Low'] = df_pre['Blood Pressure'].str.split('/').str[0]
df_pre['Blood Pressure High'] = df_pre['Blood Pressure'].str.split('/').str[1]
df_pre = df_pre.drop("Blood Pressure",axis=1)
df_pre.head(5)

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Blood Pressure Low,Blood Pressure High
0,1,27,9,6.1,6,42,6,3,77,4200,NaN,126,83
1,1,28,1,6.2,6,60,8,0,75,10000,NaN,125,80
2,1,28,1,6.2,6,60,8,0,75,10000,NaN,125,80
3,1,28,6,5.9,4,30,8,2,85,3000,Sleep Apnea,140,90
4,1,28,6,5.9,4,30,8,2,85,3000,Sleep Apnea,140,90

In [107]:
df["Occupation"].unique()
from sklearn.impute import SimpleImputer
import numpy as np
imputer = SimpleImputer(missing_values=np.NaN, strategy='constant', fill_value="Healthy")
imp = pd.DataFrame(imputer.fit_transform(df_pre[["Sleep Disorder"]]))
df_pre["Sleep Disorder"] = imp[0]

In [108]:
df_pre.head(5)

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Blood Pressure Low,Blood Pressure High
0,1,27,9,6.1,6,42,6,3,77,4200,Healthy,126,83
1,1,28,1,6.2,6,60,8,0,75,10000,Healthy,125,80
2,1,28,1,6.2,6,60,8,0,75,10000,Healthy,125,80
3,1,28,6,5.9,4,30,8,2,85,3000,Sleep Apnea,140,90
4,1,28,6,5.9,4,30,8,2,85,3000,Sleep Apnea,140,90

In [109]:
df_pre["Sleep Disorder"].unique()

array(['Healthy', 'Sleep Apnea', 'Insomnia'], dtype=object)

In [110]:
le.fit(df_pre["Sleep Disorder"])
df_pre["Sleep Disorder"] = le.transform(df_pre["Sleep Disorder"])
df_pre.head(5)

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Blood Pressure Low,Blood Pressure High
0,1,27,9,6.1,6,42,6,3,77,4200,0,126,83
1,1,28,1,6.2,6,60,8,0,75,10000,0,125,80
2,1,28,1,6.2,6,60,8,0,75,10000,0,125,80
3,1,28,6,5.9,4,30,8,2,85,3000,2,140,90
4,1,28,6,5.9,4,30,8,2,85,3000,2,140,90

In [114]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[2])],
remainder="passthrough")
encoded = pd.DataFrame(data=ct.fit_transform(df_pre))
encoded

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,6.1,6,42,6,3,77,4200,0,126,83
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.2,6,60,8,0,75,10000,0,125,80
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.2,6,60,8,0,75,10000,0,125,80
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,5.9,4,30,8,2,85,3000,2,140,90
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,5.9,4,30,8,2,85,3000,2,140,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,8.1,9,75,3,3,68,7000,2,140,95
370,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,8.0,9,75,3,3,68,7000,2,140,95
371,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,8.1,9,75,3,3,68,7000,2,140,95
372,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,8.1,9,75,3,3,68,7000,2,140,95
373,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,8.1,9,75,3,3,68,7000,2,140,95

In [113]:
df_pre.to_parquet("./MuhammedDemirci.parquet")

In [112]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-12.0.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.9/38.9 MB 47.8 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.16.6 in /workspace/.pyenv_mirror/user/current/lib/python3.11/site-packages (from pyarrow) (1.25.0)
Installing collected packages: pyarrow
Successfully installed pyarrow-12.0.1