In [4]:
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("/workspace/DeepLearningFundamentals/Dokumanlar/01_Preprocessing/data/sample.csv")
df.head()

        Ulke Cinsiyet    Gelir   Yas  MemTip
0        NaN    Kadın  20000.0   NaN       1
1        NaN    Erkek  15000.0  32.0       2
2  İngiltere      NaN  23000.0   NaN       3
3    Turkiye    Kadın  20000.0  45.0       1
4     Fransa    Erkek  15000.0  23.0       2

In [14]:
df2=df.copy()
imputer=SimpleImputer(strategy="most_frequent")
imputer.fit_transform(df2)
df2Temiz=pd.DataFrame(data=imputer.fit_transform(df2))

In [13]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[0])],
remainder="passthrough")
encoded = pd.DataFrame(data=ct.fit_transform(df))
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
encoded[6] = le.fit_transform(encoded[6])
encoded.head()

    0    1    2    3    4    5   6      7        8     9  10
0  0.0  0.0  0.0  0.0  0.0  0.0   1  Kadın  20000.0   NaN  1
1  0.0  0.0  0.0  0.0  0.0  0.0   1  Erkek  15000.0  32.0  2
2  0.0  0.0  0.0  0.0  1.0  0.0   0    NaN  23000.0   NaN  3
3  0.0  0.0  0.0  1.0  0.0  0.0   0  Kadın  20000.0  45.0  1
4  0.0  0.0  1.0  0.0  0.0  0.0   0  Erkek  15000.0  23.0  2

In [15]:
new=pd.read_csv("/workspace/DeepLearningFundamentals/preprocessyeni.csv")
new

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [16]:
new.isna().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [33]:
Imptr= SimpleImputer(strategy="constant",fill_value="Healthy")
imp=pd.DataFrame(data=Imptr.fit_transform(new[["Sleep Disorder"]]))
new["Sleep Disorder"]=imp[0]
new.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,Healthy
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,Healthy
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,Healthy
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [32]:
new.isna().sum()

Person ID                  0
Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
Sleep Disorder             0
dtype: int64